.title {
  font-family: "Noto Sans";
  font-size: 42px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 24px;
}

.subtitle {
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  margin-bottom: 6px;
}

.description {
  max-width: 650px;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  margin-bottom: 100px;
}

.option {
  width: 454px;

  display: flex;
  flex-direction: column;

  .bottom {
    width: 100%;
    background: #f8f7f5;
    padding: 42px 32px;

    .title {
      font-family: "Noto Sans";
      font-size: 36px;
      font-style: normal;
      font-weight: 250;
      line-height: normal;
      margin-bottom: 12px;
    }

    .description {
      font-family: "Noto Sans";
      font-size: 24px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%;
      margin-bottom: 36px;
    }

    .link {
      display: flex;
      align-items: center;
      font-family: "Noto Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 300;
      line-height: 160%;
      color: #000;
      gap: 16px;
    }
  }
}
