.title {
  font-family: "Noto Sans S Chinese";
  font-size: 42px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  margin-bottom: 24px;
}

.subTitle {
  color: #000000;
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
}
